doctype html
html
    head
        title= title
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='/css/materialize.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/administration.css')
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="/js/materialize.min.js")
        block extra-header
    body
        header
            ul.side-nav.fixed.teal.lighten-2y#mobile-demo
                li
                    div.admin-logo
                        include ../../public/images/logo.svg

                li
                    a.subheader.white-text#bold-title Actions
                li
                    a(href="/admin/tracks").white-text Tracks
                        i.material-icons.white-text map
                li
                    a(href="/admin/users").white-text Users
                        i.material-icons.white-text group
                li
                    a(href="/admin/categories").white-text Categories
                        i.material-icons.white-text star_half
                li
                    a(href="/admin/difficulties").white-text Difficulties
                        i.material-icons.white-text terrain
                li
                    a.subheader.white-text#bold-title2 Settings
                li
                    a(href="/admin/settings").white-text Settings
                        i.material-icons.white-text settings
                li
                    a(href="/admin/logout").red-text#bold-title3 Logout
                        i.material-icons.red-text power_settings_new

        nav.grey.lighten-5
            div.nav-wrapper
                a(href="#", data-activates="mobile-demo").button-collapse
                    i.material-icons.black-text menu
                ul.right
                    li
                        a.black-text.dropdown-button(href="#!")&attributes({'data-activates': 'language-dropdown'}) Language
                            i.material-icons.left language
                            i.material-icons.right arrow_drop_down
                ul.right
                    li
                        a.black-text.dropdown-button(href="#!")&attributes({'data-activates':'user-dropdown'})
                            img.circle.user(src="/images/user.png")
                            | #{emailUser}
                            i.material-icons.right arrow_drop_down

        ul(id="language-dropdown").dropdown-content
            li
                a(href="?clang=en") EN
            li
                a(href="?clang=fr") FR
            li
                a(href="?clang=de") DE

        ul(id="user-dropdown").dropdown-content
            li
                a admin
                    i.material-icons person
            li
                a(href="/admin/logout").red-text logout
                    i.material-icons.red-text power_settings_new
        main
            block content

        script(src='/js/admin/components.js', type="text/javascript")
        script(src='/js/admin/administration.js', type="text/javascript")

