extends layout_admin

block content
    div.container
        h2 Settings
        form(method="post")
            table#tableSettings.highlight
                tbody
                    tr
                        td
                            label #{translation.DISTANCEMIN}
                        td
                            input#myMinNumber(name="myMinNumber",type='number', value='8')
                    tr
                        td
                            label #{translation.VALUESEEKBAR}
                        td
                            input#mySeekValue(name="mySeekValue",type='number', value='10')
            input(type="submit", value=translation.SAVE).waves-effect.waves-light.btn.right
                            




