extends layout_admin

block content
    div.container
        h2 Tracks
        ul.collapsible(data-collapsible='accordion')
            each track in tracks
                li
                    .collapsible-header
                        span.right(onclick='deleteTrack("'+track.id+'",event)')
                            i.material-icons delete
                        span= track.name
                    .collapsible-body
                        div Distance du parcours : #{Math.round(track.distance)}m.
                        div Difficulté : #{track.difficulty}
                        if track.isForEveryone
                            div Pour tout le monde : oui
                        else
                            div Pour tout le monde : non