extends layout

block content
    div.container.password-margin
        div.row
            div.col.s3
            div.col.s6
                h4 #{translation.RESETPASS}
            div.col.s3
        div.row
            div.col.s3
            div.col.s6
                h6 #{translation.RESETPASSMESSAGE}
            div.col.s3
        div.row
            div.col.s3
            form(method="post").col.s6
                div.input-field
                    i.material-icons.prefix email
                    input(id="reset-email-input" type="text", name="email")
                    label(for="reset-email-input") #{translation.EMAIL}
                input.btn.right(type="submit", value="OK")
            div.col.s3
        div.row
            div.col.s3
            div.center-align.language.col.s6
                a.black-text(href="?clang=en") EN
                a.black-text(href="?clang=fr") FR
                a.black-text(href="?clang=de") DE
            div.col.s3