extends layout

block content
    div(style="width:500px;margin:auto")
        form(method="post")
            input(type="text", placeholder="email", name="email")
            input.btn(type="submit", value="OK")