extends layout

block content
    div(style="width:500px;margin:auto")
        form(method="post")
            input(type="text", placeholder="new password", name="password")
            input.btn(type="submit", value="valider")