/* CONTENT */
body
{
    background-color: #fcfcfc;
}
main, footer {
    padding-left: 300px;
}

/* SIDE NAV MENU */

.admin-logo svg {
    height: 184px;
    width: 300px;
}

.side-nav li>a{
    font-weight: 300 !important;
}

#bold-title {
    font-weight: 500 !important;
}
#bold-title2 {
    font-weight: 500 !important;
}

/*NAV BAR */
.nav-wrapper .user {
    width: 3.5em;
    vertical-align: middle;
    margin-right: 1em;
}

/*TRACK DETAILS*/
.tabs{

}

.tab-of-contents .card-panel{
    margin-top: 0px !important;
}

.po-img{
    width: 8em;
}

/* RESPONSIVE */

@media only screen and (max-width: 992px) {
    main, footer {
        padding-left: 0;
    }

}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

.tdEditable {
    padding-top: 0 !important;
}

.tdEditable button {
    vertical-align: bottom;
    margin-top: 20px;
}

.divExportData {
    margin-top: 20px;
}

#bodyTracks td a {
    margin: 0 10px;
}